<!-- This template is only used for providing the stylesheet path in the respective container. The stylesheet will only apply if the Hundekrone Stylesheet data provider is linked in the CMS » Container link menu -->

<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

<link rel="stylesheet" href="{{ plugin_path('Hundekrone') }}/css/main.css">

<script type="text/javascript" src="{{ plugin_path('Hundekrone') }}/js/instafeed.min.js"></script>

<script type="text/javascript" src="{{ plugin_path('Hundekrone') }}/js/hundekrone.js"></script>

<style>
@media (min-width: 992px){
	input.search-input.ui-autocomplete-input {
	    font-size: 14px !important;
	    padding: 7px 0px !important;
	}
}
</style>

<!-- ProvenExpert Bewertungssiegel -->
<style type="text/css">body {-ms-overflow-style: scrollbar;} @media(max-width:399px){#ProvenExpert_widget_container {display:none;}}</style>
<a id="ProvenExpert_widget_container" href="https://www.provenexpert.com/hundekrone/?utm_source=Widget&amp;utm_medium=Widget&amp;utm_campaign=Widget" title="Kundenbewertungen &amp; Erfahrungen zu Hundekrone. Mehr Infos anzeigen." target="_blank" style="text-decoration:none;z-index:9999;position:fixed;float:left;line-height:0;right:0px;bottom:200px;"><img src="https://images.provenexpert.com/02/8a/c4dafabc96219eb313b0ac9a2089/widget_portrait_120_de_0.png" alt="Erfahrungen &amp; Bewertungen zu Hundekrone" width="120" height="144" style="border:0" />
<span id="ProvenExpert_slider_feedback" style="position:absolute;padding:2px 0 0px 0;top:0;left:120px;"></span>
<script type="text/javascript" src="//www.provenexpert.com/slider_hundekrone.js?sk=p_120"></script>
</a>
<!-- ProvenExpert Bewertungssiegel -->