/** ALLGEMEIN **/

.clear {
    clear: both !important;
}

.breadcrumb a {
    color: black;
}

body>#vue-app,
body>#vue-error,
header#page-header .navbar,
#page-body,
#page-body .page-content,
.footer,
body{
    background: white;
}

header#page-header .navbar{
    padding: 10px 0px;
}

.category-description.mb-3, .category-description.mb-3 * {
    line-height: 150% !important;
}

div#page-body {
    max-width: 1170px;
    margin: 0 auto;
    padding: 35px 0px 0px 0px;
}


/** MENU COLOR **/

ul.mainmenu *,
nav.navbar.megamenu #mainNavbarCollapsable ul.mainmenu>li>ul.collapse>li ul.nav-dropdown-inner .level1>a{
    color: #4d4f4d;
}

nav.navbar.megamenu #mainNavbarCollapsable ul.mainmenu>li>ul.collapse>li ul.nav-dropdown-inner .level1>a:hover{
    color: #83ba0f;
}


/** KATEGORIE BOXEN **/

.cat-boxes-wrapper {
    margin-bottom: 50px;
}

.kategorie-box {
    width: 33.33%;
    float: left;
    padding: 5px;
    cursor: pointer;
}

@media(max-width: 768px){
    .kategorie-box{
        width: 100%;
    }
}

.kategorie-box-img {
    height: 0px;
    padding-bottom: 50%;
    background-size: cover !important;
    background-position: center center !important;
    position: relative;
    border: 2px solid #83ba0f;
    border-radius: 10px;#
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}


.kategorie-box-title {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: rgba(131, 186, 15, 0.68);
    font-size: 17px;
    padding-left: 17px;
    color: white !important;
    text-transform: uppercase;
    text-decoration: none !important;
}

.kategorie-box:hover .kategorie-box-img{
    box-shadow: 0px 0px 20px #0000007a;
    transform: scale(1.02);
}


/** SERVICE BOX **/

.unser-service {
    margin-top: 25px;
    background: #f7f7f7;
    padding: 18px;
}

.service-title {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
}

.service-row {
    margin: 13px 0px;
    border-bottom: 1px solid #80808047;
    padding-bottom: 10px;
}

.service-row:nth-of-type(4){
    border:none
}

.service-txt {
    line-height: 25px;
    font-size: 14px;
    color: black;
}

.service-ico {
    width: 30px;
    text-align: center;
    margin-right: 9px;
    float: left;
}

.service-call {
    font-size: 19px;
    padding-left: 40px;
    font-weight: bold;
    margin-top: -6px;
}

.service-ico i {
    font-size: 22px;
    color: #83ba0e;
}

/** FOOTER **/

.footer {
    margin-top: 110px;
}

.static-link-list ul li {
    list-style: none;
    display: inline-block;
    padding: 10px;
}

.static-link-list ul li a:hover{
    text-decoration: underline;
}

.static-link-list {
    margin-bottom: 25px !important;
}